.imagen {
    margin-left: 30%;
    width: 200px;
    height: 200px;
}

.h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.lista {
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

